<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Reminders</title>
  <meta name="description" content="All Reminders">
  <meta name="author" content="Luis M. Valerio, VMware, Inc.">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/html/skeleton/css/normalize.css">
  <link rel="stylesheet" href="/html/skeleton/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/html/skeleton/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

  <div class="row" style="margin-top: 5%">
    <div class="twelve columns">
	  <a href="/html/tmpl/index">Go Back Home</a>
	</div>
  </div>
  <div class="row">
    <div class="two columns">
	  <b>Topic: {{.Topic}}</b>
	</div>
    <div class="ten columns">
      {{if .Messages}}
      <table class="u-full-width">
        <thead>
          <th>Id</th>
          <th>Message</th>
        </thead>
        <tbody>
        {{range $msg := .Messages}}
          <tr>
            <td>{{$msg.Id}}</td>
            <td>{{printf "%q" $msg.Base64}}</td>
          </tr>
        {{end}}
        </tbody>
      </table>
      {{else}}
	  <center><h4>Goodness, you are an elephant &mdash; No topics to track!</h4></center>
      {{end}}
    </div>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
