<div ng-controller="ServersCtrl as vm">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" ng-click="vm.openNewServerModal()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </div>
    <div class="col-md-6">
      <h4>Servers</h4>
    </div>
  </div>
  <table class="table table-striped">
    <th>Name</th>
    <th>Actions</th>
    <tr ng-repeat="server in vm.servers">
      <td>{{ server.name }}</td>
      <td><button class="btn btn-danger" ng-click="vm.deleteServer(server.uuid)">Delete</button>
    </tr>
  </table>
</div>
