<div ng-controller="UsersCtrl as vm">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" ng-click="vm.openNewUserModal()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </div>
    <div class="col-md-6">
      <h4>Users</h4>
    </div>
  </div>
  <table class="table table-striped">
    <th>Name</th>
    <th>Actions</th>
    <tr ng-repeat="user in vm.users">
      <td>{{ user.name }}</td>
      <td><button class="btn btn-danger" ng-click="vm.deleteUser(user.uuid)">Delete</button>
    </tr>
  </table>
</div>
